@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
    --clr-main: #074B64;
    --clr-supplementary:#f9d8d2;
    --clr-highlights: orange;
    --clr-shadows: #031f29;
    --clr-secondary:#0a6080;
}


/* General reset and font-family setup*/
* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

/* Body Styling */
body {

    /*dimensions*/
    min-height: 100vh;
    overflow-x: hidden;

    /*box*/
    background-color: ;
    
    /*text*/
    color: var(--clr-main);

}

/* Header Styling */
header {

    /*position*/
    position: fixed;
    margin-right: 30px;
    padding: 1rem 1rem;
    z-index: 99;

    /*dimensions*/
    width: 100%;

    /*flex-box*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    /*box*/
    background-color: var(--clr-main);
    
}

/* Logo Styling */
#logo {

    /*text*/
    font-size: 200%;
}

#logo:hover {

    /*text*/
    font-size:220%;
    color: var(--clr-highlights);
    transition: 0.2s ease-in-out;
}

header a {

    /*dimensions*/
    width:auto;

    /*text*/
    text-decoration: none;
    color: inherit;

}

.nav-toggle-label {

    /*position*/
    position: absolute;
    top: 20px;
    right: 10px;
    padding-right: 2rem;

    /*dimensions*/
    width: auto;

}

#menu {

    /*position*/
    padding: 1rem;

    /*flex-box*/
    display:flex;
    justify-content: space-evenly;

    /*box*/
    background-color: var(--clr-main);
    
    /*text*/
    list-style-type: none;
    
}

#menu > li {

    /*dimensions*/
    width:auto;

    /*flex-box*/
    display: flex;
    justify-content: center;
    
    /*text*/
    font-size: 120%;
}

.active {

    /*text*/
     text-decoration: underline;
     font-weight: bold;
     font-size: 110%;
}
nav {

    /*position*/
    position: absolute;
    left: 0;
    top:100%;
    
    /*dimensions*/
    height: 0;
    
    /*box*/
    box-shadow: 0 0 0 transparent;

    /*animation*/
    visibility:hidden;
    opacity: 0;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
}

#nav-toggle {

    /*flex-box*/
    display: none;
}

#nav-toggle:checked~nav {

    /*dimensions*/
    height: auto;

    /*animation*/
    visibility: visible;
    opacity: 1;
    box-shadow: 0 5px 5px var(--clr-shadows);
}

.nav-toggle-label {

    /*text*/
    font-size: 2rem;
}

#menu li:hover {
    color:var(--clr-highlights);
    font-size: 130%;
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}

main {
    background-color: var(--clr-main);
    min-height: calc(100vh - 154px);
}
/* LANDING VIDEO */
.hero-videos {
    /*dimensions*/
    width:100%;
    max-height: 600px;
    overflow: hidden;

    /*position*/
    padding-top: 50px;

    /*flex-box*/
    display: flex;
    align-items: center;
}

#hero-video {
    /*background*/
    filter: brightness(70%) blur(0%);
}

.slogan-container-right {
    /*dimensions*/
    width:100%;
    height:auto;

    /*position*/
    padding: 10px 0 10px;

    /*flex-box*/
    display: flex;
    justify-content: flex-end;
   
}

.slogan-right {

    /*dimensions*/
    width:70%;
    height: auto;

    /*position*/
    padding: 15px 5%;

    /*flex-box*/
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    /*text*/
    font-size: 150%;
    color:var(--clr-highlights);
    text-align: right;

    /*box*/
    background-color: var(--clr-supplementary);
    border: var(--clr-supplementary) 1px solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;  
}

.propaganda-container {

    /*dimensions*/
    width: 100%;
    height:auto;

    /*position*/
    padding: 10px 0 20px;

    /*flex-box*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.propaganda {

    /*position*/
    margin: 0 auto;
    width: 60%;
    min-width: 400px;
    gap: 30px;

    /*flexbox*/
    display: flex;
}

.propaganda > button {

    /*dimensions*/
    width: 100%;
    max-width: 400px;
    height: auto;


    /*position*/
    margin: auto;
    padding: 10px 25px;

    /*box*/
    border-radius: 30px;
    box-shadow: var(--clr-shadows) 0 2px 2px;

    /*text*/
    font-size: 130%;

}

#course-content {

    /*text*/
    color: var(--clr-supplementary);

    /*box*/
    border: var(--clr-supplementary) solid 2px;
    background-color: transparent;
}

.propaganda-button {

    /*text*/
    text-decoration: none;
    color: inherit;
}

#course-content:hover {
    /*text*/
    color:var(--clr-main);
    /*box*/
    background-color: var(--clr-supplementary);

    /*animation*/
    transition: background-color 0.3s, color 0.3s;
}

#register-interest {

    /*text*/
    color: var(--clr-main);

    /*box*/
    border: var(--clr-main) solid 2px;
    background-color: var(--clr-supplementary);
}

/*VALUES SECTION*/

.slogan-container-left {
/*dimensions*/
width:100%;
height:auto;

/*position*/
padding-bottom:10px;

/*flex-box*/
display: flex;
justify-content: flex-start;

}

.slogan-left {
    
    /*dimensions*/
    width:70%;
    height: auto;

    /*position*/
    padding: 15px 5%;

    /*flex-box*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    /*text*/
    font-size: 150%;
    color:var(--clr-highlights);
    text-align: left;

    /*box*/
    background-color: var(--clr-supplementary);
    border: var(--clr-supplementary) 1px solid;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;  
}

.card-container {

    /*position*/
    padding: 10px 0;

    /*dimensions*/
    width: 100%;
    height:auto;

    /*flex-box*/
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card-container .card {

    /*position*/
    position: relative;
    margin: 15px 5px;
    padding: 20px 10px;

    /*dimensions*/
    max-width: 250px;
    height: 100px;

    /*flex-box*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /*box*/
    background-color: var(-clr-secondary);
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    border-radius: 15px;

    /*text*/
    text-align: center;

    /*animation*/
    transition: 0.2s ease-in-out;

}

.card-container .card:hover {

    /*dimensions*/
    height: 150px;
}

.container .card .card-front {

    /*position*/
    position: relative;
    top: -40%;
    left: 8px;
    z-index: 1;

    /*dimensions*/
    width: 200px;
    height:200px;

    /*box*/
    box-shadow: 0 5px 20px rgba(0,0,0,0.2)
    
}

.card-container .card .card-back {

    /*position*/
    position: relative;
    padding: 10px 15px;

    /*text*/
    color: var(--clr-highlights);
    text-align: center;

    /*animations*/
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in-out;

}

.card-front, .card-back { 

    /*dimensions*/
    width: 100%;

    /*text*/
    text-align: center;
}

.card-container .card:hover .card-front >i {

    /*animation*/
    visibility: hidden;
    opacity: 1;
    transition-delay: 0.2s;
}

.card-container .card:hover .card-back {

    /*position*/
    top 0;

    /*animation*/
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

.fa-circle-chevron-down{

    /*position*/
    position:absolute;
    bottom: 5%;
    left: 50%;

    /*text*/
    color: var(--clr-supplementary);

    /*animation*/
    transform: translateX(-50%);

}

/*PARTNERS SECTION*/

.gallery {

    /*dimensions*/
    width: 85vw;
    margin: auto;
    overflow: hidden;

}

.gallery .gallery-track {

    /*positions*/
    margin: 30px;

    /*dimensions*/
    width: calc(200px * 10);

    /*flex-box*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*animation*/
    animation: scroll 40s linear infinite;
    
}

.gallery .gallery-item {

    /*position*/
    padding: 0 30px;

    /*dimensions*/
    min-width: 200px;
}

.gallery .gallery-item img {

    /*dimensions*/
    width:100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform:translateX(calc(-200px*5));
    }
}



/* FOOTER SECTION */
footer {

    /*position*/
    position: relative;
    bottom: 0;
    padding: 10px;

    /*dimensions*/
    height:fit-content;

    /*flex-box*/
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

    /*box*/
    background-color: var(--clr-supplementary);

    /*text*/
    color: var(--clr-shadows);
    text-align: center;
    font-size: 75%;

}

.footer-main {

    /*dimensions*/
    width:auto;

    /*flex-box*/
    display:flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.footer-main div {

    /*position*/
    padding: 0.5rem;
    
    /*dimensions*/
    min-width: 100px;
    max-width: 225px;

}

.footer-main div > h3 {

    /*position*/
    padding-bottom: 1rem;

    /*text*/
    font-size: 120%;
    font-weight: bold;
    text-decoration: underline;
}

.socials {

    /*dimensions*/
    width:auto;

    /*flex-box*/
    display:flex;
    flex-direction: column;
}

.social-media-links {

    /*flex-box*/
    display: flex;
    justify-content: center;
}

.disclaimer {

    /*position*/
    padding: 10px;

    /*text*/
    font-size: 75%;
    text-align: center;
}

/*Mentors Site*/

#meet-our-mentors {

    /*position*/
    padding-top: 200px;
}


.mentor-container {

    /*position*/
    position: relative;
    padding: 30px;
    gap: 20px;

    /*flex-box*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mentor-card {

    /*position*/
    position: relative;
    max-width: 400px;

    /*flex-box*/
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    /*text*/
    text-align: center;
}

.mentor-card-main {

    /*position*/
    position: relative;
    z-index:2;
    
    /*box*/
    border-radius: 10px;

}

.mentor-card-main h3 {

    /*position*/
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    z-index: 3;

    /*dimensions*/
    width: auto;

    /*text*/    
    font-size: 150%;
    text-transform: uppercase;
    color: var(--clr-highlights);
}

.mentor-card-main img {

    /*position*/
    display: block;

    /*box*/
    border:var(--clr-highlights) 5px solid;
    border-radius: 5px;

    /*image*/
    filter: grayscale(1) brightness(0.8);
}

.mentor-card-slideout {

    /*position*/
    position: relative;
    top:100%;
    padding: 35px 10px 10px;
    
    /*dimensions*/
    max-width: 400px;

    /*box*/
    background-color: var(--clr-shadows);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    /*text*/
    text-align: left;
    
    /*animation*/
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.mentor-card-main:hover + .mentor-card-slideout {

    /*animation*/
    visibility:visible;
    opacity: 1;
    transform: translateY(0);
}
.mentor-card:hover .mentor-card-main img {

    /*animation*/
    filter: grayscale(0);
    scale: 1.1;
    transition: 0.2s ease-in-out;
}

/*CONTACT PAGE*/

.empty-space {

    /*dimensions*/
    height: 130px;
}

.form-container {

    /*position*/
    margin: 20px auto;
    padding: 10px;

    /*dimensions*/
    width: 80%;
    max-width: 600px;

    /*flex-box*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*box*/
    background-color: var(-clr-secondary);
    border: var(--clr-highlights) 3px solid;
    border-radius: 15px;
    box-shadow: var(--clr-shadows) 0 2px 2px;

    /*text*/
    line-height: 1.4;

}

.form-container h3 {

    /*position*/
    padding-left: 15px;
    padding-bottom: 25px;

    /*text*/
    color: var(--clr-highlights);
    font-size: 150%;
    text-decoration: underline;
}

.form-entry {

    /*position*/
    padding: 0 5px 10px;
}

.signup-form label {
    
    /*position*/
    padding: 1rem;
}
.signup-form input{
    

    /*dimensions*/
    height: 30px;
    padding: 5px 10px;

    /*box*/
    background-color: var(--clr-main);
    border: var(--clr-main) 1px solid;
    border-radius: 15px;

    /*text*/
    color: var(--clr-supplementary);
}

.signup-form input:hover {

    /*animation*/
    border: var(--clr-supplementary) 1px solid;
    transition: 0.3s;
}

.form-entry:hover label {

    /*animation*/
    color:var(--clr-highlights);
    transition: 0.3s;
}
.signup-form input:focus {

    /*animation*/
    background-color: var(--clr-supplementary);
    outline: var(--clr-highlights);
    color:var(--clr-shadows);
    transition: 0.3s;
    scale: 1.05;
}

.form-entry:focus-within label{

    /*animation*/
    font-size: 130%;
    color:var(--clr-highlights);
    transition: 0.3s;
}

.button-container {

    /*position*/
    margin: auto;
    padding: 2.5% 0;

    /*dimensions*/
    width: 60%;
    max-width: 200px;
}
.button-container button {

    /*position*/
    margin: auto;

    /*dimensions*/
    height: 40px;

    /*box*/
    border:#var(--clr-shadows) 2px solid;
    border-radius: 20px;
    background-color: var(--clr-supplementary);

}    
.button-container button:hover {

    /*animation*/
    scale: 1.1;
    color: var(--clr-highlights);
    transition: 0.2s;
    border: var(--clr-highlights) 2px solid;
    font-weight: bold;
}

.button-container button:active {

    /*animation*/
    scale: 1.1;
    background-color: var(--clr-highlights);
    transition: 0.3s;
    color: var(--clr-shadows);
}