@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/* General reset and font-family setup*/
* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

/* Body Styling */
body {
    color: #f9d8d2;
    min-height: 800px;
    background-color: #074B64;
    overflow-x: hidden;
}

/* Header Styling */
header {

    /*position*/
    position: fixed;
    margin-right: 30px;
    padding: 1rem 1rem;
    z-index: 99;

    /*dimensions*/
    width: 100%;

    /*flex-box*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    /*box*/
    background-color: #074B64;
    
}

/* Logo Styling */
#logo {

    /*text*/
    font-size: 200%;
}

#logo:hover {

    /*text*/
    font-size:220%;
    color: orange;
    transition: 0.2s ease-in-out;
}

header a {

    /*dimensions*/
    width:auto;

    /*text*/
    text-decoration: none;
    color: inherit;

}

.nav-toggle-label {

    /*position*/
    position: absolute;
    top: 20px;
    right: 10px;
    padding-right: 2rem;

    /*dimensions*/
    width: auto;

}

#menu {

    /*position*/
    padding: 1rem;

    /*flex-box*/
    display:flex;
    justify-content: space-evenly;

    /*box*/
    background-color: #074B64;
    
    /*text*/
    list-style-type: none;
    
}

#menu > li {

    /*dimensions*/
    width:auto;

    /*flex-box*/
    display: flex;
    justify-content: center;
    
    /*text*/
    font-size: 120%;
}

.active {

    /*text*/
     text-decoration: underline;
     font-weight: bold;
     font-size: 110%;
}
nav {

    /*position*/
    position: absolute;
    left: 0;
    top:100%;
    
    /*dimensions*/
    height: 0;
    
    /*box*/
    box-shadow: 0 0 0 transparent;

    /*animation*/
    visibility:hidden;
    opacity: 0;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
}

#nav-toggle {

    /*flex-box*/
    display: none;
}

#nav-toggle:checked~nav {

    /*dimensions*/
    height: auto;

    /*animation*/
    visibility: visible;
    opacity: 1;
    box-shadow: 0 5px 5px #031f29;
}

.nav-toggle-label {

    /*text*/
    font-size: 2rem;
}

#menu li:hover {
    color:orange;
    font-size: 130%;
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}

/* LANDING VIDEO */
.hero-videos {
    /*dimensions*/
    width:100%;
    max-height: 600px;
    overflow: hidden;

    /*position*/
    padding-top: 50px;

    /*flex-box*/
    display: flex;
    align-items: center;
}

#hero-video {
    /*background*/
    filter: brightness(70%) blur(0%);
}

.slogan-container-right {
    /*dimensions*/
    width:100%;
    height:auto;

    /*position*/
    padding: 10px 0 10px;

    /*flex-box*/
    display: flex;
    justify-content: flex-end;
   
}

.slogan-right {

    /*dimensions*/
    width:70%;
    height: auto;

    /*position*/
    padding: 15px 5%;

    /*flex-box*/
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    /*text*/
    font-size: 150%;
    color:orange;
    text-align: right;

    /*box*/
    background-color: #f9d8d2;
    border:#f9d8d2 1px solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;  
}

.propaganda-container {

    /*dimensions*/
    width: 100%;
    height:auto;

    /*position*/
    padding: 10px 0 20px;

    /*flex-box*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.propaganda {

    /*position*/
    margin: 0 10%;

    /*flexbox*/
    display: flex;
}

.propaganda > button {

    /*dimensions*/
    width: 100%;
    height: auto;

    /*position*/
    margin: 0 1rem;
    padding: 10px 25px;

    /*box*/
    border-radius: 30px;
    box-shadow: #031f29 0 2px 2px;

    /*text*/
    font-size: 130%;

}

#course-content {

    /*text*/
    color: #f9d8d2;

    /*box*/
    border: #f9d8d2 solid 2px;
    background-color: transparent;
}

.propaganda-button {

    /*text*/
    text-decoration: none;
    color: inherit;
}

#course-content:hover {
    /*text*/
    color:#074B64;
    /*box*/
    background-color: #f9d8d2;

    /*animation*/
    transition: background-color 0.3s, color 0.3s;
}

#register-interest {

    /*text*/
    color: #074B64;

    /*box*/
    border: #074B64 solid 2px;
    background-color: #f9d8d2;
}

/*VALUES SECTION*/

.slogan-container-left {
/*dimensions*/
width:100%;
height:auto;

/*position*/
padding-bottom:10px;

/*flex-box*/
display: flex;
justify-content: flex-start;

}

.slogan-left {
    
    /*dimensions*/
    width:70%;
    height: auto;

    /*position*/
    padding: 15px 5%;

    /*flex-box*/
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    /*text*/
    font-size: 150%;
    color:orange;
    text-align: left;

    /*box*/
    background-color: #f9d8d2;
    border:#f9d8d2 1px solid;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;  
}

.card-container {

    /*position*/
    padding: 10px 0;

    /*dimensions*/
    width: 100%;
    height:auto;

    /*flex-box*/
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card-container .card {

    /*position*/
    position: relative;
    margin: 15px 5px;
    padding: 20px 10px;

    /*dimensions*/
    max-width: 250px;
    height: 100px;

    /*flex-box*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /*box*/
    background-color: #0a6080;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    border-radius: 15px;

    /*text*/
    text-align: center;

    /*animation*/
    transition: 0.2s ease-in-out;

}

.card-container .card:hover {

    /*dimensions*/
    height: 150px;
}

.container .card .card-front {

    /*position*/
    position: relative;
    top: -40%;
    left: 8px;
    z-index: 1;

    /*dimensions*/
    width: 200px;
    height:200px;

    /*box*/
    box-shadow: 0 5px 20px rgba(0,0,0,0.2)
    
}

.card-container .card .card-back {

    /*position*/
    position: relative;
    padding: 10px 15px;

    /*text*/
    color: orange;
    text-align: center;

    /*animations*/
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in-out;

}

.card-front, .card-back { 

    /*dimensions*/
    width: 100%;

    /*text*/
    text-align: center;
}

.card-container .card:hover .card-front >i {

    /*animation*/
    visibility: hidden;
    opacity: 1;
    transition-delay: 0.2s;
}

.card-container .card:hover .card-back {

    /*position*/
    top 0;

    /*animation*/
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

.fa-circle-chevron-down{

    /*position*/
    position:absolute;
    bottom: 5%;
    left: 50%;

    /*text*/
    color: #f9d8d2;

    /*animation*/
    transform: translateX(-50%);

}

/*PARTNERS SECTION*/

.gallery {

    /*dimensions*/
    width: 85vw;
    margin: auto;
    overflow: hidden;

}

.gallery .gallery-track {

    /*positions*/
    margin: 30px;

    /*dimensions*/
    width: calc(200px * 10);

    /*flex-box*/
    display: flex;
    justify-content: center;
    align-items: center;

    /*animation*/
    animation: scroll 40s linear infinite;
    
}

.gallery .gallery-item {

    /*position*/
    padding: 0 30px;

    /*dimensions*/
    min-width: 200px;
}

.gallery .gallery-item img {

    /*dimensions*/
    width:100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform:translateX(calc(-200px*5));
    }
}



/* FOOTER SECTION */
footer {

    /*position*/
    position: relative;
    padding: 10px;

    /*flex-box*/
    display: flex;
    flex-direction: column;

    /*box*/
    background-color: #f9d8d2;

    /*text*/
    color: #031f29;
    text-align: center;
    font-size: 75%;

}

.footer-main {

    /*dimensions*/
    width:auto;

    /*flex-box*/
    display:flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.footer-main div {

    /*position*/
    padding: 0.5rem;
    
    /*dimensions*/
    min-width: 100px;
    max-width: 225px;

}

.footer-main div > h3 {

    /*position*/
    padding-bottom: 1rem;

    /*text*/
    font-size: 120%;
    font-weight: bold;
    text-decoration: underline;
}

.socials {

    /*dimensions*/
    width:auto;

    /*flex-box*/
    display:flex;
    flex-direction: column;
}

.social-media-links {

    /*flex-box*/
    display: flex;
    justify-content: center;
}

.disclaimer {

    /*position*/
    padding: 10px;

    /*text*/
    font-size: 75%;
    text-align: center;
}

/*Mentors Site*/

#meet-our-mentors {

    /*position*/
    padding-top: 200px;
}


.mentor-container {

    /*position*/
    position: relative;
    padding: 30px;
    gap: 20px;

    /*flex-box*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mentor-card {

    /*position*/
    position: relative;
    max-width: 400px;

    /*flex-box*/
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    /*text*/
    text-align: center;
}

.mentor-card-main {

    /*position*/
    position: relative;
    z-index:2;
    
    /*box*/
    border-radius: 10px;

}

.mentor-card-main h3 {

    /*position*/
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 10px;
    z-index: 3;

    /*dimensions*/
    width: auto;

    /*text*/    
    font-size: 150%;
    text-transform: uppercase;
    color: orange;
}

.mentor-card-main img {

    /*position*/
    display: block;

    /*box*/
    border:orange 5px solid;
    border-radius: 5px;

    /*image*/
    filter: grayscale(1);
}

.mentor-card-slideout {

    /*position*/
    position: relative;
    top:100%;
    padding: 35px 10px 10px;
    
    /*dimensions*/
    max-width: 400px;

    /*box*/
    background-color: #031f29;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    /*text*/
    text-align: left;
    
    /*animation*/
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

}

.mentor-card-main:hover + .mentor-card-slideout {

    /*animation*/
    visibility:visible;
    opacity: 1;
    transform: translateY(0);
}
.mentor-card:hover .mentor-card-main img {

    /
    filter: grayscale(0);
    scale: 1.1;
    transition: 0.2s ease-in-out;
}

/*Contact*/

.contact {
    position: relative;
    top: 200px;
}

/*Signup Popup*/

  .button:hover {
    text-decoration: underline;
  }
  
  .overlay {

    /*position*/
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;

    /*box*/
    background: rgba(0, 0, 0, 0.7);

    /*animation*/
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    
    /*animation*/
    visibility: visible;
    opacity: 1;
  }
  
  .popup {

    /*dimensions*/
    margin: 70px auto;
    padding: 20px;
    width: 60%;

    /*box*/
    background: #fff;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.5)  0 5px 5px;
    
    /*position*/
    position: relative;

    /*flexbox*/
    display: flex;
    align-items: center;
    flex-direction: column;

    /*text*/
    font-size: 150%;

    /*animation*/
    transition: all 1s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: orange;
    padding: 30px;
    text-decoration: underline;
  }


  .popup .close {

    /*position*/
    position: absolute;
    top: 20px;
    right: 30px;

    /*animations*/
    transition: all 200ms;
    
    /*text*/
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: orange;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    color:orange;
  }

  .popup button {
    
    /*position*/
    position:relative;
    align-self:center;

    /*flexbox*/
    display:flex;
    justify-content: center;

    /*dimensions*/
    width: 60%;
    
  }
